doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    style.
      body{
        background: #03d1ab;
        background: -webkit-linear-gradient(to left, #2adeb7, #3feac3, #03d1ab);
        background: linear-gradient(to left, #2adeb7, #3feac3, #03d1ab);
      }
      .heading{
        font-size: 50px;
        font-family: "Comic Sans MS";
        color: #f4f5f7;
      }
      a.btn{
        box-shadow: 0px 2px 2px gray;
      }
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    title Not Found

  body.container
    h1.heading.my-5 404
    h2.heading.my-5 Not Found...
    p.font-weight-light お探しのページは見つかりませんでした。
    img.float-right(src="http://2.bp.blogspot.com/-nMjuko9tXGc/Ut0BV0jJHkI/AAAAAAAAdW0/tRb8t3PEY28/s180-c/kangaeruhito.png", alt="考える人")
    a.my-3(href="/posts").btn.btn-info TODO-LISTへ

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
    crossorigin="anonymous")