doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    style.
      body{
        background: #03d1ab;
        background: -webkit-linear-gradient(to left, #2adeb7, #3feac3, #03d1ab);
        background: linear-gradient(to left, #2adeb7, #3feac3, #03d1ab);
      }
      a.btn{
        box-shadow: 0px 2px 2px gray;
      }
      .heading{
        color: #f4f5f7;
      }
      h1.heading{
        font-family: "Comic Sans MS";
      }
      h2.heading{
        font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
      }
      .inputarea{
        box-shadow: 2px 2px 4px gray;
      }
      li.list-group-item{
        background: #f4f5f7;
        color: #13241f;
        box-shadow: 2px 2px 4px gray;
        font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
      }

      button.inputarea{
        background: #3b9cff;
      }
      button.deletebtn{
        background: #ee3769;
      }

    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")

    title todo_list

  body.container
    header
      div.my-3
        a(href="/logout").btn.btn-info.float-right ログアウト
        h1.heading #{user}'s TODO LIST
    form(method="post" action="/posts")
      div.input-group.mb-3
        input(type="text", name="content", id="newTask" class="inputarea" placeholder='タスクを追加' autocomplete="off").form-control
        input(type="hidden", name="oneTimeToken" value=oneTimeToken)
        div.input-group-append
          button(type="submit" class="inputarea").btn.btn-primary 追加
        
    h2.heading 一覧
    each post in posts
      - var isUser = (user === post.postedBy)
      if isUser
        div.list-group.my-3
          li.list-group-item #{post.content}
            form(method="post" action="/posts?delete=1")
              input(type="hidden", name="id", value=post.id)
              input(type="hidden" name="oneTimeToken" value=oneTimeToken)
              button(type="submit" class="deletebtn").btn.btn-danger.float-right 削除
      else
        div.card.d-none

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
    crossorigin="anonymous")